<div class="center hero-unit">
  <h2>You've come to the right place to find...</h2>
  
  <h1>Tracking of Prices</h1>
  <br/>
  <h2>
    This is the home page for Price Tracker, inspired by
    <a href="http://www.ozbargain.com.au/">OzBargain.com.au</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

