<li>
  <%= link_to product.name, product %>
  <% if current_user.present? && current_user.admin? %>
    | <%= link_to "delete", product, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>

